* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #fff;
}

#profile__img {
  width: 6rem;
  border-radius: 50%;
}

.share-icon {
  border: 2px dotted #EAECF0;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  right: 20vw;
  top: 2rem;
}

.share-icon-mobile {
  display: none;
}

#slack {
  display: none;
}

.App-header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
}

#twitter,
#btn__zuri,
#books,
#book__python,
#pitch,
#book__design,
#contact {
  color: black;
  text-decoration: none;
  display: block;
  padding: 1rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #EAECF0;
}

.icon {
  width: 2rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.footer {
  width: 90vw;
  margin: 7rem auto 2rem auto;
}

.left-icon {
  height: 3vh;
}

.main-links {
  max-width: 90vw;
  margin: auto;
}

label,
input {
  display: block;
  text-align: left;
}

label {
  font-weight: 500;
}

.contact-page-container {
  max-width: 50vw;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.form {
  margin-top: 1rem;
}

.first-label,
#first_name,
.second-label,
#last_name {
  width: 49%;
}

.name-inputs,
.name-labels {
  display: flex;
  gap: 3rem;
}

#email,
#first_name,
#last_name,
#message {
  padding: 0.6rem;
  outline: none;
  border-radius: 0.3rem;
  border: 1px solid rgb(155, 150, 150);
}

#email,
#message {
  width: 100%;
}

#check-box-label {
  font-weight: normal !important;
}

#check-box {
  display: inline-flex;
  margin-right: 1rem;
}

#first_name:focus,
#last_name:focus,
#email:focus {
  border: 1px solid#1570EF;
}

#message:focus {
  border: 3px solid #D1E9FF;
}

#check-box:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #1570EF;
}

#btn__submit {
  width: 100%;
  background-color: #1570EF;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border: 5px solid #1570EF;
  margin-top: 1rem;
  border-radius: 0.3rem;
}

#btn__submit:hover {
  border: 5px solid #D1E9FF;
  cursor: pointer;
}

.first-label-mobile,
.second-label-mobile,
.input-on-large-screen {
  display: none;
}

@media screen and (max-width: 680px) and (min-width:200px) {

  .first-label-mobile,
  .second-label-mobile,
  #first_name,
  #last_name {
    display: block;
    width: 100%;
  }

  .name-labels,
  .name-inputs {
    display: none;
  }

  .contact-page-container {
    line-height: 1.5;
    max-width: 70vw;
  }
}

@media screen and (max-width: 425px) and (min-width:200px) {
  .share-icon-mobile {
    display: block;
    border: none;
    position: absolute;
    right: 10vw;
    top: 1.5rem;
  }

  .share-icon {
    display: none;
  }

  .icon {
    margin-right: 0.5rem;
  }

  .icon-div {
    display: block;
    text-align: left;
    margin: 0.5rem 0;
  }
}